/* Обнуление стилей */
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
/* Базовые стиле */
body {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 129%;
  color: #111111;
  background-color: #fff;
}
h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 133%;
}

.span-title {
  color: #fd9222;
}

/*контейнер для страницы прижимаем footer*/
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  main {
    flex-grow: 1;
  }
}
/* оганичевающий контейнер */
.container {
  max-width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Header */
.header {
  .container {
    display: flex;
    justify-content: space-between;
  }
}
.header-logo {
  flex-grow: 1;
  padding-top: 24px;
  padding-bottom: 32px;
  font-size: 18px;
  letter-spacing: -0.03em;
  line-height: 111%;
  font-weight: 700;
  text-transform: uppercase;
  span {
    font-style: italic;
  }
}
.header-logo-img {
  height: 24px;
  width: 24px;
  margin-left: 4px;
}
.header-nav {
  margin-right: 90px;
}
.header-menu-list {
  height: 100%;
  display: flex;
  gap: 24px;
  align-items: center;
}

.header-menu-link {
  padding-top: 24px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 114%;
}
.header-social-list {
  display: flex;
  justify-content: space-between;
  gap: 14px;
}

.header-social-link {
  padding-top: 24px;
  padding-bottom: 32px;
}
.header-social-img {
  height: 24px;
  width: 24px;
}

/* Сукция Hero */

/* Секция advertise*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advertise {
  background: #1e1823;
  display: flex;
}

.advertise-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.advertise-list {
}
.advertise-item {
}
.advertise-img {
}

.advertise-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* секция ingredients */

.ingredients {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}
.ingredients-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
}
.ingredients-list {
}
.ingredients-item {
}
.ingredients-img {
}
.ingredients-title {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
}
.img-button {
}

/* секция Our PRODUCTS */

/* секция made */
.made {
  margin-bottom: 120px;
}

.made-title {
  text-align: center;
  margin-bottom: 50px;
}
.made-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.content-img {
  position: relative;
  display: block;
}
.made-img {
  display: inline-block;
  border-radius: 15px;
}
.content-img::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: rgba(17, 17, 17, 0.4);
  border-radius: 15px;
  overflow: hidden;
}

.made-content-text {
  padding: 32px;
}
.made-content-title {
  max-width: 350px;
  margin-bottom: 28px;
  letter-spacing: 0;
}
.made-content-list {
  li + li {
    margin-top: 24px;
  }
}
.made-content-item {
  list-style: inside;
}

/* секция tOp Sellers */
.sellers {
  margin-bottom: 120px;
}
.sellers-title {
  text-align: center;
  margin-bottom: 50px;
}
.sellers-list {
  display: flex;
  gap: 16px;
  flex-basis: calc((100%-2 * 16px) / 3);
}
.sellers-item {
  display: block;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}
.sellers-img {
  border-radius: 15px 15px 0 0;
}
.sellers-item-title {
  padding: 28px 0;
  text-align: center;
  border-radius: 0 0 15px 15px;
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
}
.selers-img-content {
  position: relative;
}
.sellers-item-text-hover {
  visibility: hidden;
  padding: 0 40px;
  position: absolute;
  top: 0%;
  color: #111111;
  transition: all 0.3s ease-out;
}
.sellers-item:hover .sellers-item-text-hover {
  visibility: visible;
  top: 38.36%;
  color: #fff;
}
.selers-img-content::before {
  content: '';
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  backdrop-filter: blur(0px);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  transition: backdrop-filter 0.3s ease-out;
}

.sellers-item:hover .selers-img-content::before {
  backdrop-filter: blur(15px);
}

.review {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}
.review-item {
}
.review-list {
}
.review-img {
  
}
.review-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: #111;
}
.review-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.review-button {
  font-weight: 600;
  font-size: 18px;
  color: #111;
}

.review-button:active{
  background-color: #fd9222;
}
